<ion-view view-title="Perfl">
    <ion-content>
    <div class="list not-avatar">
	  <div class="item item-divider">
	    <strong>Informações Pessoais</strong>
	  </div>
	    <div class="item item-avatar" >
	      <p>Nome Completo</p>
	      <h2>{{perfil.nome}}</h2>	      
	    </div>
	    <div class="item item-avatar" >
	      <p>Email</p>
	      <h2>{{perfil.email}}</h2>	      
	    </div>
	    <div class="item item-divider">
	    <strong>Informações de Estudante</strong>
	  </div>
	  <div class="item item-avatar" >
	      <p>Faculdade</p>
	      <h2>{{perfil.faculdade}}</h2>	      
	    </div>
	    <div class="item item-avatar" >
	      <p>Curso</p>
	      <h2>{{perfil.curso}}</h2>	      
	    </div>
	    </div>
	    <div class="row text-center">
	    	<div class="col col-100">
	    		<a class="button button-calm" href="#/user/curso">
	  				Editar Faculdade/Curso
				</a>
	    	</div>
	    </div>
    </ion-content>
</ion-view>
